div.card {
  border-radius: 30px;
  width: 18rem;
  margin: auto;
}

.card-body {
  color: black;
}

.logIn {
  background: #3F878B;
  width: 200px;
  border-radius: 7px;
  padding: 4px 20px ;
  color: white;
  border: 0;
}

.title {
  color: #3F878B;
  margin-top: 100px; 
}

#LogInWord {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #3F878B;
}

.email {
  color: black;
}